.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E6E6E6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linksMenu:hover{
  color: rgb(10 243 200 / 88%)!important;
  font-weight: 600;
  font-size: 1rem;
}

.menu ul{
  margin-top: 1.5rem;
}

.buttonIconCart:disabled{
  color: black;
  background: #CDCDCD;
}

.buttonIconCart{
  margin: 0 20px;
  outline: none!important;
  border: none;
  background: #fa503f;
  color: white;
  height: 48px!important;
  width: 80px;
  border-radius: 20px;
}

.buttonIconCart:not(:disabled):hover{
  background: #e12b19;
}

.buttonCartAdd{
  outline: none!important;
  border: none;
  background: #fa503f;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.buttonCartAdd:hover{
  background: #e12b19;
}

.productsCont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}